# Tratamento de Dados do IMDB

In [3]:
import os
import pandas as pd
#import pandas_profiling
#conda install -c conda-forge pandas-profiling

In [4]:
os.chdir("../microdados")
os.getcwd()

'/home/antero/Documentos/TCC/microdados'

## Lendo dados do arquivo TSV e importando para o DataFrame do Pandas

In [5]:
df_imdb_basics = pd.read_csv('title.basics.tsv', sep='\t', na_values='\\N', low_memory=False)
df_imdb_ratings = pd.read_csv('title.ratings.tsv', sep='\t', na_values='\\N', low_memory=False)

## Explorando os DataFrames

### Explorando title.basics

In [6]:
df_imdb_basics.shape

(7979322, 9)

In [7]:
df_imdb_basics.isnull().sum()

tconst                  0
titleType               0
primaryTitle            9
originalTitle           9
isAdult                 1
startYear          886670
endYear           7901772
runtimeMinutes    5758673
genres             622019
dtype: int64

In [8]:
df_imdb_basics.isnull().mean()

tconst            0.000000e+00
titleType         0.000000e+00
primaryTitle      1.127915e-06
originalTitle     1.127915e-06
isAdult           1.253239e-07
startYear         1.111210e-01
endYear           9.902811e-01
runtimeMinutes    7.216995e-01
genres            7.795387e-02
dtype: float64

In [9]:
df_imdb_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7979322 entries, 0 to 7979321
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         float64
 5   startYear       float64
 6   endYear         float64
 7   runtimeMinutes  object
 8   genres          object
dtypes: float64(3), object(6)
memory usage: 547.9+ MB

In [20]:
df_imdb_basics.endYear.unique()

array([  nan, 1947., 1945., 1955., 1949., 1958., 1951., 1950., 1952.,
       1954., 1957., 1953., 1956., 1967., 1971., 1959., 1963., 1960.,
       1961., 1965., 1980., 2016., 1986., 1962., 1972., 1966., 1970.,
       2009., 1973., 1987., 1997., 1974., 1992., 1976., 1975., 1982.,
       2010., 1984., 1964., 1968., 1989., 1969., 1994., 2004., 1981.,
       1999., 1988., 1985., 2003., 1977., 1978., 1993., 2001., 2013.,
       1996., 2011., 2005., 1995., 1979., 2006., 1983., 1990., 1998.,
       2008., 2012., 1991., 2020., 2007., 2018., 2021., 2015., 2014.,
       2000., 2019., 2002., 2022., 2017., 1948., 1938., 1942., 1933.,
       2026., 1944., 1946., 2024., 2023., 1937., 2030., 2028., 1941.,
       1939., 1932., 2025., 1936., 1935., 2027.])

In [21]:
df_imdb_basics.tail()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
7979317,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2010.0,NaN,NaN,"Action,Drama,Family"
7979318,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,"Action,Drama,Family"
7979319,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,"Action,Drama,Family"
7979320,tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27,Short
7979321,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10,"Animation,Comedy,Family"

In [22]:
df_imdb_basics.titleType.value_counts(dropna=False)

tvEpisode       5825622
short            815066
movie            579459
video            309955
tvSeries         208589
tvMovie          131681
tvMiniSeries      37708
tvSpecial         32888
videoGame         28284
tvShort           10070
Name: titleType, dtype: int64

In [23]:
df_imdb_basics.genres.value_counts(dropna=False)

Drama                         853045
NaN                           622019
Comedy                        553607
Talk-Show                     441746
Documentary                   381720
                               ...
Adventure,Game-Show,Sci-Fi         1
Adventure,Biography,War            1
Action,Family,Reality-TV           1
Adventure,History,Sport            1
Fantasy,Reality-TV,Romance         1
Name: genres, Length: 2281, dtype: int64

### Explorando o title.ratings

In [24]:
df_imdb_ratings.shape

(1161026, 3)

In [25]:
df_imdb_ratings.isnull().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [26]:
df_imdb_ratings.isnull().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [27]:
df_imdb_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1708
1  tt0000002            6.1       210
2  tt0000003            6.5      1466
3  tt0000004            6.1       123
4  tt0000005            6.2      2268

In [28]:
df_imdb_ratings.tail()

            tconst  averageRating  numVotes
1161021  tt9916682            5.6         5
1161022  tt9916690            6.6         5
1161023  tt9916720            6.5        90
1161024  tt9916766            6.9        17
1161025  tt9916778            7.5        27

In [29]:
df_imdb_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161026 entries, 0 to 1161025
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1161026 non-null  object
 1   averageRating  1161026 non-null  float64
 2   numVotes       1161026 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 26.6+ MB

## Unindo os DataFrames

In [30]:
df_imdb = df_imdb_basics.merge(df_imdb_ratings, on='tconst')

In [31]:
df_imdb

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short",5.7,1708
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short",6.1,210
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,4,"Animation,Comedy,Romance",6.5,1466
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short",6.1,123
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,"Comedy,Short",6.2,2268
...,...,...,...,...,...,...,...,...,...,...,...
1161021,tt9916682,tvEpisode,Horrid Henry It's all Your Fault,Horrid Henry It's all Your Fault,0.0,2012.0,NaN,10,"Animation,Comedy,Family",5.6,5
1161022,tt9916690,tvEpisode,Horrid Henry Delivers the Milk,Horrid Henry Delivers the Milk,0.0,2012.0,NaN,10,"Animation,Comedy,Family",6.6,5
1161023,tt9916720,short,The Nun 2,The Nun 2,0.0,2019.0,NaN,10,"Comedy,Horror,Mystery",6.5,90
1161024,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0.0,2019.0,NaN,43,"Family,Reality-TV",6.9,17
1161025,tt9916778,tvEpisode,Escape,Escape,0.0,2019.0,NaN,NaN,"Crime,Drama,Mystery",7.5,27

In [32]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1161026 entries, 0 to 1161025
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   tconst          1161026 non-null  object
 1   titleType       1161026 non-null  object
 2   primaryTitle    1161026 non-null  object
 3   originalTitle   1161026 non-null  object
 4   isAdult         1161026 non-null  float64
 5   startYear       1160838 non-null  float64
 6   endYear         31844 non-null    float64
 7   runtimeMinutes  847069 non-null   object
 8   genres          1138689 non-null  object
 9   averageRating   1161026 non-null  float64
 10  numVotes        1161026 non-null  int64
dtypes: float64(4), int64(1), object(6)
memory usage: 106.3+ MB

## Filtrando Dados

In [33]:
dropcols_imdb=['tconst','endYear', 'runtimeMinutes']
df_imdb.drop(columns=dropcols_imdb, inplace=True)
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1161026 entries, 0 to 1161025
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   titleType      1161026 non-null  object
 1   primaryTitle   1161026 non-null  object
 2   originalTitle  1161026 non-null  object
 3   isAdult        1161026 non-null  float64
 4   startYear      1160838 non-null  float64
 5   genres         1138689 non-null  object
 6   averageRating  1161026 non-null  float64
 7   numVotes       1161026 non-null  int64
dtypes: float64(3), int64(1), object(4)
memory usage: 79.7+ MB

In [34]:
df_imdb=df_imdb.loc[df_imdb['titleType'].isin(['movie','short','tvMovie','tvShort'])]

In [35]:
df_imdb

,titleType,primaryTitle,originalTitle,isAdult,startYear,genres,averageRating,numVotes
0,short,Carmencita,Carmencita,0.0,1894.0,"Documentary,Short",5.7,1708
1,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,"Animation,Short",6.1,210
2,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,"Animation,Comedy,Romance",6.5,1466
3,short,Un bon bock,Un bon bock,0.0,1892.0,"Animation,Short",6.1,123
4,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,"Comedy,Short",6.2,2268
...,...,...,...,...,...,...,...,...
1161012,movie,The Secret of China,Hong xing zhao yao Zhong guo,0.0,2019.0,"Adventure,History,War",3.8,12
1161013,tvMovie,Pink Taxi,Pink Taxi,0.0,2019.0,Comedy,9.3,15
1161015,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0.0,2019.0,Drama,8.3,6
1161016,short,My Sweet Prince,My Sweet Prince,0.0,2019.0,"Drama,Short",7.2,38
1161023,short,The Nun 2,The Nun 2,0.0,2019.0,"Comedy,Horror,Mystery",6.5,90

In [36]:
df_imdb.isAdult.value_counts(dropna=False)

0.0    442533
1.0      4571
Name: isAdult, dtype: int64

In [37]:
df_imdb.startYear.value_counts(dropna=False)

2017.0    17511
2016.0    17450
2015.0    16623
2014.0    16397
2013.0    16136
          ...
1881.0        1
1874.0        1
1883.0        1
1885.0        1
1877.0        1
Name: startYear, Length: 142, dtype: int64

In [38]:
df_imdb.startYear.unique()

array([1894., 1892., 1893., 1895., 1896., 1898., 1897., 1900., 1899.,
       1901., 1902., 1903., 1904., 1912., 1907., 1905., 1906., 1908.,
       1910., 1909., 1914., 1911., 1913., 1919., 1916., 1917., 1915.,
       1918., 1936., 1925., 1920., 1921., 1922., 1923., 2019., 1924.,
       1927., 1929., 2000., 1926., 1993., 1935., 2014., 1928., 2004.,
       1942., 1930., 2011., 1931., 1932., 1939., 1937., 1950., 1933.,
       1938., 1951., 1934., 1945., 1946., 1940., 1944., 1947., 1941.,
       1952., 1970., 1957., 1943., 1959., 1948., 2001., 1949., 1953.,
       2008., 1954., 1965., 1983., 1980., 1973., 1961., 1995., 1962.,
       1958., 1955., 1956., 1977., 1960., 1964., 1967., 1963., 1969.,
       1968., 1971., 1972., 1966., 2021., 1976., 1990., 1979., 1974.,
       1981., 2020., 1988., 1978., 1989., 1975., 1986., 1985., 2009.,
       1987., 2010., 2018., 1984., 1982.,   nan, 1991., 1999., 2005.,
       1998., 1992., 2002., 1994., 1996., 2017., 1997., 2016., 2006.,
       2003., 2007., 2013., 2015., 1891., 2012., 1888., 1890., 1889.,
       1878., 1877., 1887., 1874., 1883., 1881., 1885.])

In [39]:
df_teste=df_imdb.dropna(subset=['startYear'])

In [40]:
df_teste

,titleType,primaryTitle,originalTitle,isAdult,startYear,genres,averageRating,numVotes
0,short,Carmencita,Carmencita,0.0,1894.0,"Documentary,Short",5.7,1708
1,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,"Animation,Short",6.1,210
2,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,"Animation,Comedy,Romance",6.5,1466
3,short,Un bon bock,Un bon bock,0.0,1892.0,"Animation,Short",6.1,123
4,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,"Comedy,Short",6.2,2268
...,...,...,...,...,...,...,...,...
1161012,movie,The Secret of China,Hong xing zhao yao Zhong guo,0.0,2019.0,"Adventure,History,War",3.8,12
1161013,tvMovie,Pink Taxi,Pink Taxi,0.0,2019.0,Comedy,9.3,15
1161015,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0.0,2019.0,Drama,8.3,6
1161016,short,My Sweet Prince,My Sweet Prince,0.0,2019.0,"Drama,Short",7.2,38
1161023,short,The Nun 2,The Nun 2,0.0,2019.0,"Comedy,Horror,Mystery",6.5,90

In [43]:
df_teste.startYear.unique()

array([1894., 1892., 1893., 1895., 1896., 1898., 1897., 1900., 1899.,
       1901., 1902., 1903., 1904., 1912., 1907., 1905., 1906., 1908.,
       1910., 1909., 1914., 1911., 1913., 1919., 1916., 1917., 1915.,
       1918., 1936., 1925., 1920., 1921., 1922., 1923., 2019., 1924.,
       1927., 1929., 2000., 1926., 1993., 1935., 2014., 1928., 2004.,
       1942., 1930., 2011., 1931., 1932., 1939., 1937., 1950., 1933.,
       1938., 1951., 1934., 1945., 1946., 1940., 1944., 1947., 1941.,
       1952., 1970., 1957., 1943., 1959., 1948., 2001., 1949., 1953.,
       2008., 1954., 1965., 1983., 1980., 1973., 1961., 1995., 1962.,
       1958., 1955., 1956., 1977., 1960., 1964., 1967., 1963., 1969.,
       1968., 1971., 1972., 1966., 2021., 1976., 1990., 1979., 1974.,
       1981., 2020., 1988., 1978., 1989., 1975., 1986., 1985., 2009.,
       1987., 2010., 2018., 1984., 1982., 1991., 1999., 2005., 1998.,
       1992., 2002., 1994., 1996., 2017., 1997., 2016., 2006., 2003.,
       2007., 2013., 2015., 1891., 2012., 1888., 1890., 1889., 1878.,
       1877., 1887., 1874., 1883., 1881., 1885.])

In [44]:
df_imdb.startYear.astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [42]:
df_imdb

,titleType,primaryTitle,originalTitle,isAdult,startYear,genres,averageRating,numVotes
0,short,Carmencita,Carmencita,0.0,1894.0,"Documentary,Short",5.7,1684
1,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,"Animation,Short",6.0,207
2,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,"Animation,Comedy,Romance",6.5,1421
3,short,Un bon bock,Un bon bock,0.0,1892.0,"Animation,Short",6.1,121
4,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,"Comedy,Short",6.1,2221
...,...,...,...,...,...,...,...,...
1123694,movie,The Secret of China,Hong xing zhao yao Zhong guo,0.0,2019.0,"Adventure,History,War",3.8,12
1123695,tvMovie,Pink Taxi,Pink Taxi,0.0,2019.0,Comedy,9.2,12
1123696,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0.0,2019.0,Drama,8.3,6
1123697,short,My Sweet Prince,My Sweet Prince,0.0,2019.0,"Drama,Short",7.3,24
1123702,short,The Nun 2,The Nun 2,0.0,2019.0,"Comedy,Horror,Mystery",6.2,72

## Salvando Data Frame Tratado

In [1]:
df_imdb.to_csv('../tratados/df_imdb_tratado.csv', index=False)

NameError: name 'df_imdb' is not defined