# Tratamento de Dados do Rotten Tomatoes

In [10]:
import os
import pandas as pd
#import pandas_profiling
#conda install -c conda-forge pandas-profiling

In [11]:
os.chdir("../microdados")
os.getcwd()

'/home/antero/Documentos/TCC/microdados'

### Lendo dados do arquivo CSV e importando para o DataFrame do Pandas

In [20]:
df_rotten_tomatoes=pd.read_csv("rotten_tomatoes_movies.csv")

### Explorando o DataFrame

In [21]:
df_rotten_tomatoes.shape

(17712, 22)

In [22]:
df_rotten_tomatoes.isnull().sum()

rotten_tomatoes_link                   0
movie_title                            0
movie_info                           321
critics_consensus                   8578
content_rating                         0
genres                                19
directors                            194
authors                             1542
actors                               352
original_release_date               1166
streaming_release_date               384
runtime                              314
production_company                   499
tomatometer_status                    44
tomatometer_rating                    44
tomatometer_count                     44
audience_status                      448
audience_rating                      296
audience_count                       297
tomatometer_top_critics_count          0
tomatometer_fresh_critics_count        0
tomatometer_rotten_critics_count       0
dtype: int64

In [7]:
df_rotten_tomatoes.isnull().mean()

rotten_tomatoes_link                0.000000
movie_title                         0.000000
movie_info                          0.018123
critics_consensus                   0.484304
content_rating                      0.000000
genres                              0.001073
directors                           0.010953
authors                             0.087060
actors                              0.019874
original_release_date               0.065831
streaming_release_date              0.021680
runtime                             0.017728
production_company                  0.028173
tomatometer_status                  0.002484
tomatometer_rating                  0.002484
tomatometer_count                   0.002484
audience_status                     0.025294
audience_rating                     0.016712
audience_count                      0.016768
tomatometer_top_critics_count       0.000000
tomatometer_fresh_critics_count     0.000000
tomatometer_rotten_critics_count    0.000000
dtype: float64

In [21]:
df_rotten_tomatoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [22]:
df_rotten_tomatoes.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [23]:
df_rotten_tomatoes.tail()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
17707,m/zoot_suit,Zoot Suit,Mexican-American gangster Henry Reyna (Daniel ...,NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,...,MCA Universal Home Video,Rotten,56.0,9.0,Upright,74.0,1195.0,2,5,4
17708,m/zootopia,Zootopia,From the largest elephant to the smallest shre...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",2016-03-04,...,Walt Disney Animation Studios,Certified-Fresh,98.0,291.0,Upright,92.0,101511.0,50,285,7
17709,m/zorba_the_greek,Zorba the Greek,Traveling to inspect an abandoned mine his fat...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,...,Fox,Fresh,80.0,10.0,Upright,86.0,7146.0,0,8,2
17710,m/zulu,Zulu,"In 1879, the Zulu nation hands colonial Britis...",Zulu patiently establishes a cast of colorful ...,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,...,Paramount Pictures,Fresh,96.0,23.0,Upright,91.0,30193.0,6,22,1
17711,m/zulu_dawn,Zulu Dawn,Sir Henry Bartle Frere's (John Mills) vastly o...,NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,Tango Entertainment,Rotten,50.0,8.0,Upright,62.0,4469.0,0,4,4

### Filtrando Dados

In [24]:
dropcols=['rotten_tomatoes_link','movie_info','critics_consensus','content_rating','genres','directors','authors','actors','streaming_release_date','runtime','production_company']
df_rotten_tomatoes.drop(columns=dropcols, inplace=True)
df_rotten_tomatoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   movie_title                       17712 non-null  object
 1   original_release_date             16546 non-null  object
 2   tomatometer_status                17668 non-null  object
 3   tomatometer_rating                17668 non-null  float64
 4   tomatometer_count                 17668 non-null  float64
 5   audience_status                   17264 non-null  object
 6   audience_rating                   17416 non-null  float64
 7   audience_count                    17415 non-null  float64
 8   tomatometer_top_critics_count     17712 non-null  int64
 9   tomatometer_fresh_critics_count   17712 non-null  int64
 10  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 1.5+ MB

In [25]:
df_rotten_tomatoes.isnull().sum()

movie_title                            0
original_release_date               1166
tomatometer_status                    44
tomatometer_rating                    44
tomatometer_count                     44
audience_status                      448
audience_rating                      296
audience_count                       297
tomatometer_top_critics_count          0
tomatometer_fresh_critics_count        0
tomatometer_rotten_critics_count       0
dtype: int64

In [26]:
df_rotten_tomatoes.isnull().mean()

movie_title                         0.000000
original_release_date               0.065831
tomatometer_status                  0.002484
tomatometer_rating                  0.002484
tomatometer_count                   0.002484
audience_status                     0.025294
audience_rating                     0.016712
audience_count                      0.016768
tomatometer_top_critics_count       0.000000
tomatometer_fresh_critics_count     0.000000
tomatometer_rotten_critics_count    0.000000
dtype: float64

In [27]:
df_rotten_tomatoes.original_release_date.value_counts()

2002-01-01    29
1988-01-01    25
2000-01-01    25
2003-01-01    25
2001-01-01    24
              ..
1999-10-19     1
2000-02-29     1
2007-05-16     1
1975-02-26     1
1944-01-12     1
Name: original_release_date, Length: 5804, dtype: int64

In [28]:
df_rotten_parsed = df_rotten_tomatoes.original_release_date.str.split('-',expand=True)
df_rotten_parsed.columns=['year', 'month', 'day']
df_rotten_parsed.drop(columns=['month', 'day'], inplace=True)
df_rotten_parsed.year.unique()

array(['2010', '1979', '1957', '1954', '2008', '1935', '2002', '1930',
       '1988', '2005', '1950', '1949', '1951', '2004', '1985', '1938',
       '1941', '2003', '1997', '2006', '2007', '1952', '1960', '1956',
       '1966', '1986', '1984', nan, '1973', '2009', '2011', '1990',
       '1947', '1987', '2014', '1940', '2012', '1981', '1976', '1972',
       '1958', '1980', '1961', '1946', '2015', '1962', '1963', '1974',
       '1926', '1977', '1929', '1944', '1982', '1968', '1978', '1983',
       '1970', '1945', '1919', '1975', '1969', '1953', '1967', '1936',
       '1937', '1942', '1927', '1989', '1931', '1965', '1971', '1955',
       '1964', '1933', '1939', '1948', '1959', '2013', '2000', '2017',
       '1923', '1916', '1934', '1920', '1932', '1925', '1943', '1991',
       '1992', '1993', '1928', '1999', '1994', '1921', '1924', '1922',
       '1998', '1995', '1996', '2001', '2016', '2019', '2018', '2020',
       '1915', '1914'], dtype=object)

## Percentual de Anos Faltantes

In [29]:
df_rotten_parsed.isnull().sum()/len(df_rotten_parsed.year)

year    0.065831
dtype: float64

In [34]:
df_rotten_tomatoes_parsed = pd.concat([df_rotten_tomatoes, df_rotten_parsed], axis=1)
df_rotten_tomatoes_parsed.dropna(subset=['year'], inplace=True)
df_rotten_tomatoes_parsed.head()

,movie_title,original_release_date,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count,year
0,Percy Jackson & the Olympians: The Lightning T...,2010-02-12,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76,2010
1,Please Give,2010-04-30,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19,2010
2,10,1979-10-05,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8,1979
3,12 Angry Men (Twelve Angry Men),1957-04-13,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0,1957
4,"20,000 Leagues Under The Sea",1954-01-01,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3,1954

In [35]:
df_rotten_parsed.year.unique()

array(['2010', '1979', '1957', '1954', '2008', '1935', '2002', '1930',
       '1988', '2005', '1950', '1949', '1951', '2004', '1985', '1938',
       '1941', '2003', '1997', '2006', '2007', '1952', '1960', '1956',
       '1966', '1986', '1984', nan, '1973', '2009', '2011', '1990',
       '1947', '1987', '2014', '1940', '2012', '1981', '1976', '1972',
       '1958', '1980', '1961', '1946', '2015', '1962', '1963', '1974',
       '1926', '1977', '1929', '1944', '1982', '1968', '1978', '1983',
       '1970', '1945', '1919', '1975', '1969', '1953', '1967', '1936',
       '1937', '1942', '1927', '1989', '1931', '1965', '1971', '1955',
       '1964', '1933', '1939', '1948', '1959', '2013', '2000', '2017',
       '1923', '1916', '1934', '1920', '1932', '1925', '1943', '1991',
       '1992', '1993', '1928', '1999', '1994', '1921', '1924', '1922',
       '1998', '1995', '1996', '2001', '2016', '2019', '2018', '2020',
       '1915', '1914'], dtype=object)

In [36]:
df_rotten_parsed.isnull().sum()

year    1166
dtype: int64

## Salvando Data Frame Tratado

In [37]:
df_rotten_tomatoes_parsed.to_csv('../tratados/df_rotten_tomatoes_tratado.csv')